.hide-show-field .value {
    background-color: #efefef;
}
.hide-show-field .view{
    display: inline-block;
    padding-left: 10px;
    line-height: 27px;
}
.hide-show-field a:hover,
.hide-show-field a:visited,
.hide-show-field a:active,
.hide-show-field a:focus{
    text-decoration: none;
}
form .aligned .hide-show-field .help{
    margin-left: 0;
    padding-left: 0;
}
