.editable-password-field .readonly {
    background-color: #efefef;
}
.editable-password-field .view,
.editable-password-field .reset{
    display: inline-block;
    padding-left: 10px;
    line-height: 27px;
}
.editable-password-field .disabled{
    color: #ccc;
}
.editable-password-field a:hover,
.editable-password-field a:visited,
.editable-password-field a:active,
.editable-password-field a:focus{
    text-decoration: none;
}
form .aligned .editable-password-field .help{
    margin-left: 0;
    padding-left: 0;
}
