.reset-to-random-password-field .value {
    background-color: #efefef;
}
.reset-to-random-password-field .view,
.reset-to-random-password-field .reset{
    display: inline-block;
    padding-left: 10px;
    line-height: 27px;
}
.reset-to-random-password-field .disabled{
    color: #ccc;
}
.reset-to-random-password-field a:hover,
.reset-to-random-password-field a:visited,
.reset-to-random-password-field a:active,
.reset-to-random-password-field a:focus{
    text-decoration: none;
}
form .aligned .reset-to-random-password-field .help{
    margin-left: 0;
    padding-left: 0;
}
